/* Fonts */
@font-face {
    font-family: decor;
    font-weight: normal;
    src: url(../fonts/cufisdecor.ttf);
}

@font-face {
    font-family: title;
    font-weight: normal;
    src: url(../fonts/february.ttf);
}

@font-face {
    font-family: text;
    font-weight: normal;
    src: url(../fonts/monommm.ttf);
}

/* Animations */
@keyframes sbin {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Color Vars */
body {
    --red1: #f19c7c;
    --red2: #e87c6c;
    --red3: #d45c6c;
    --red4: #b14c5c;
}

/* Classes */
