@import url(attributes.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: text;
    letter-spacing: 0.02em;
    background-color: indianred;
    color: whitesmoke;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: title;
    color: whitesmoke;
}

h1,
h2,
h3 {
    text-align: center;
    /* text-transform: uppercase; */
}

h1 {
    font-size: 2.8em;
    padding: 20px;
}

h2 {
    font-size: 2.2em;
    padding: 10px;
}

h3 {
    font-size: 1.6em;
    padding: 10px;
}

div,
p {
    font-size: 1.1em;
    letter-spacing: 0.02em;
}

p {
    margin: auto;
    max-width: 560px;
}

a {
    text-decoration: none;
}

button {
    padding: 2vw;
    transition: top 0.4s;
}

/* Navbar (Sidebar) */
nav {
    width: auto;
    height: 100%;
    background-color: mediumpurple;
    transition: top 0.4s;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav input {
    padding: 1vw;
    width: 60%; /* clicks are warped */
}

nav ul {
    width: auto;
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav li {
    display: block;
    padding: 1vw; /* look for other measurement units */
}