@font-face {
    font-family: ziperhead;
    src: url(fonts/ziperhead.ttf);
}

body {
    background-color: #8a826f;
}

h1 {
    margin: 0px;
    padding: 32px;
    text-align: center;
    font-size: 60px;
    font-family: ziperhead;
    background-image: url(images/pixels.png);
    border: #000000;
    border-width: 20px, 20px, 20px, 20px;
}
